/* custom properties */
:root {
  /* 
    colors 
  */

  /* green theme */
  --green-theme-light: 70, 20%, 94%;
  --green-theme-dark: 203, 36%, 17%;
  --green-theme-accent: 93, 57%, 37%;

  /* blue theme */
  --blue-theme-light: 228, 45%, 98%;
  --blue-theme-dark: 249, 100%, 3%;
  --blue-theme-accent: 184, 83%, 39%;

  /* orange theme */
  --orange-theme-light: 46, 100%, 97%;
  --orange-theme-dark: 260, 7%, 16%;
  --orange-theme-accent: 17, 90%, 56%;

  /* white */
  --white: 0, 0%, 100%;

  /* current theme: default is green */
  --current-theme-light: var(--green-theme-light);
  --current-theme-dark: var(--green-theme-dark);
  --current-theme-accent: var(--green-theme-accent);

  /* opacity */
  --opacity-100: 1;
  --opacity-75: 0.75;
  --opacity-50: 0.5;
  --opacity-10: 0.1;
  --opacity-5: 0.05;

  /* space */
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-72: 72px;

  /* 
  font
  */

  /* font family */
  --font-inter: "Inter", sans-serif;

  /* font size */
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-32: 32px;

  /* font weight */
  --font-regular: 400;
  --font-bold: 700;

  /* border */
  --border-radius: 4px;
}

/* globals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-inter);
  font-weight: var(--font-regular);
  font-size: var(--font-16);
  background-color: hsla(var(--current-theme-light), var(--opacity-100));
  line-height: 32px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* utility classes */
.rtl {
  direction: rtl;
}

.text-center {
  text-align: center;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-24);
  border-bottom: 1px solid hsla(var(--white), var(--opacity-50));
}

/* to make #menu-icon same as icon size */
#menu-icon {
  display: flex;
}

.menu-icon {
  width: 25px;
  height: 25px;
  color: hsla(var(--current-theme-dark), var(--opacity-100));
}

.theme-circles-container {
  display: flex;
}

.theme-circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid hsla(var(--current-theme-dark), var(--opacity-50));
  cursor: pointer;
}

.theme-circle.green-theme {
  background-color: hsla(var(--green-theme-light), var(--opacity-100));
  position: relative;
  left: 16px;
  z-index: 1;
}

.theme-circle.blue-theme {
  background-color: hsla(var(--blue-theme-light), var(--opacity-100));
  position: relative;
  left: 8px;
}

.theme-circle.orange-theme {
  background-color: hsla(var(--orange-theme-light), var(--opacity-100));
}

/* 
navigation overlay 
*/

/* overlay background */
.nav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: -100%;
  top: 0;
  background-color: hsla(var(--current-theme-dark), var(--opacity-100));
  transition: 0.5s;
  padding: var(--space-48) var(--space-32);
  display: flex;
  justify-content: space-between;
}

.nav-overlay.show {
  left: 0;
}

/* navigation links: on small screen */
.nav-overlay .navigation-link {
  color: hsla(var(--white), var(--opacity-100));
  display: block;
  margin-top: var(--space-16);
}

.nav-overlay .navigation-link.no-margin-top {
  margin-top: 0;
}

.nav-overlay .close-icon {
  width: 34px;
  height: 34px;
  color: hsla(var(--white), var(--opacity-100));
}

/* navigation links: on large screen */
.navigation-list {
  display: none;
}

/* 
main 
*/
.container {
  max-width: 1024px;
  margin-inline: auto;
  padding: var(--space-24);
}

/* hero */
.hero {
  margin-top: var(--space-48);
  text-align: center;
}

.hero .name {
  font-size: var(--font-14);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
}

.hero .title {
  font-size: var(--font-24);
  color: hsla(var(--current-theme-dark), var(--opacity-100));
  font-weight: var(--font-bold);
}

.hero .title-accent {
  display: block;
  color: hsla(var(--current-theme-accent), var(--opacity-100));
}

.hero .description {
  margin-top: var(--space-24);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
}

.hero .cta {
  background-color: hsla(var(--current-theme-accent), var(--opacity-100));
  padding: var(--space-8) var(--space-24);
  border-radius: var(--border-radius);
  font-size: var(--font-14);
  font-weight: var(--font-bold);
  color: hsla(var(--white), var(--opacity-100));
  text-transform: uppercase;
  margin-top: var(--space-32);
  display: inline-block;
}

/* stats */
.stats {
  margin-top: var(--space-72);
}

.stat-container {
  text-align: center;
  margin-top: var(--space-32);
}

.stat-container .number {
  font-size: var(--font-32);
  font-weight: var(--font-bold);
  color: hsla(var(--current-theme-accent), var(--opacity-100));
}

.stat-container .description {
  text-transform: uppercase;
  margin-top: var(--space-16);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
}

/* shared */
.section {
  margin-top: var(--space-72);
}

.section-header {
  color: hsla(var(--current-theme-dark), var(--opacity-100));
  text-align: center;
  font-size: var(--font-20);
}

.section-content {
  margin-top: var(--space-32);
}

/* videos */
.video-container {
  margin-top: var(--space-32);
}

.bar {
  background-color: hsla(var(--current-theme-dark), var(--opacity-75));
  display: flex;
  align-items: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.video-container .bar .youtube-icon {
  width: 23px;
  height: 23px;
  color: hsla(var(--white), var(--opacity-100));
  margin: var(--space-8) var(--space-16);
}

.youtube-player {
  width: 100%;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* projects */
.project {
  border: 1px solid hsla(var(--current-theme-dark), var(--opacity-10));
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-top: var(--space-32);
  /* to make .project-details has flex grow */
  display: flex;
  flex-direction: column;
}

.project-img {
  display: block;
}

.project-details {
  padding: var(--space-16);
  background-color: hsla(var(--white), var(--opacity-50));
  flex-grow: 1;
}

.project-name {
  font-size: var(--font-14);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
  line-height: 26px;
}

.project-link {
  display: flex;
}

.project-details .icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-8);
  margin-top: var(--space-8);
}

.project-details .youtube-icon,
.project-details .github-icon {
  color: hsla(var(--current-theme-dark), var(--opacity-100));
}

.project-details .youtube-icon {
  width: 23px;
  height: 23px;
}

.project-details .github-icon {
  width: 30px;
  height: 30px;
}

/* testimonials */
.testimonial-container {
  margin-top: var(--space-32);
  background-color: hsla(var(--white), var(--opacity-50));
  border-radius: var(--border-radius);
  padding: var(--space-32);
  text-align: center;
}

.testimonial-container .message-icon {
  color: hsla(var(--current-theme-accent), var(--opacity-100));
  width: 23px;
  height: 23px;
}

.testimonial-container .testimonial-text {
  font-size: var(--font-14);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
  line-height: 26px;
  margin-top: var(--space-8);
}

/* contact */
.form .field-label {
  display: block;
  color: hsla(var(--current-theme-dark), var(--opacity-100));
  margin-top: var(--space-16);
}

.form .form-input {
  background-color: hsla(var(--current-theme-dark), var(--opacity-5));
  border: none;
  width: 100%;
  border-radius: var(--border-radius);
  color: hsla(var(--current-theme-dark), var(--opacity-75));
  padding: var(--space-16) var(--space-24);
  font-size: inherit;
  font-family: inherit;
  outline: none;
  margin-top: var(--space-16);
}

.form .form-input.textarea {
  resize: none;
}

.form .send-cta {
  background-color: hsla(var(--current-theme-accent), var(--opacity-100));
  padding: var(--space-8) var(--space-24);
  border-radius: var(--border-radius);
  font-size: var(--font-14);
  font-weight: var(--font-bold);
  color: hsla(var(--white), var(--opacity-100));
  text-transform: uppercase;
  margin-top: var(--space-32);
  line-height: inherit;
}

/* social media */
.social-media .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
}

.social-link {
  display: flex;
}

.social-link .iconify {
  color: hsla(var(--current-theme-dark), var(--opacity-100));
}

.social-link .youtube-icon {
  width: 35px;
  height: 35px;
}

.social-link .github-icon {
  width: 48px;
  height: 48px;
}

.social-link .linkedin-icon {
  width: 30px;
  height: 30px;
}

/* media queries */
@media (min-width: 768px) {
  /* header */
  #menu-icon {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: var(--space-24);
  }

  .navigation-list .navigation-link {
    color: hsla(var(--current-theme-dark), var(--opacity-100));
    font-size: var(--font-14);
    font-weight: var(--font-bold);
  }

  /* stats */
  .stats {
    display: flex;
    justify-content: center;
  }

  .stat-container {
    width: 33.33%;
    margin-top: 0;
  }

  /* shared */
  .videos .section-content,
  .projects .section-content,
  .testimonials .section-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--space-32);
  }

  .video-container,
  .project,
  .testimonial-container {
    margin-top: 0;
  }

  /* contact */
  .form {
    max-width: 512px;
    margin-inline: auto;
  }
}
