/* custom properties */
:root {
  /* 
    colors 
  */

  /* green theme */
  --green-theme-light: 70, 20%, 94%;
  --green-theme-dark: 203, 36%, 17%;
  --green-theme-accent: 93, 57%, 37%;

  /* blue theme */
  --blue-theme-light: 228, 45%, 98%;
  --blue-theme-dark: 249, 100%, 3%;
  --blue-theme-accent: 184, 83%, 39%;

  /* orange theme */
  --orange-theme-light: 46, 100%, 97%;
  --orange-theme-dark: 260, 7%, 16%;
  --orange-theme-accent: 17, 90%, 56%;

  /* white */
  --white: 0, 0%, 100%;

  /* opacity */
  --opacity-100: 1;
  --opacity-75: 0.75;
  --opacity-50: 0.5;
  --opacity-10: 0.1;
  --opacity-5: 0.05;

  /* space */
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-72: 72px;

  /* 
  font
  */

  /* font family */
  --font-inter: "Inter", sans-serif;

  /* font size */
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-32: 32px;

  /* font weight */
  --font-regular: 400;
  --font-bold: 700;
}

/* globals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-inter);
  font-weight: var(--font-regular);
  font-size: var(--font-16);
  background-color: hsla(var(--green-theme-light), var(--opacity-100));
  line-height: 32px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-24);
  border-bottom: 1px solid hsla(var(--white), var(--opacity-50));
}

.menu-icon {
  width: 25px;
  height: 25px;
  color: hsla(var(--green-theme-dark), var(--opacity-100));
}

.theme-circles-container {
  display: flex;
}

.theme-circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 3px solid hsla(var(--white), var(--opacity-100));
}

.theme-circle.green-theme {
  background-color: hsla(var(--green-theme-light), var(--opacity-100));
  position: relative;
  left: 16px;
  z-index: 1;
}

.theme-circle.blue-theme {
  background-color: hsla(var(--blue-theme-light), var(--opacity-100));
  position: relative;
  left: 8px;
}

.theme-circle.orange-theme {
  background-color: hsla(var(--orange-theme-light), var(--opacity-100));
}

/* 
main 
*/
.container {
  max-width: 1024px;
  margin-inline: auto;
  padding: var(--space-24);
}

/* hero */
.hero {
  margin-top: var(--space-48);
  text-align: center;
}

.hero .name {
  font-size: var(--font-14);
  color: hsla(var(--green-theme-dark), var(--opacity-75));
}

.hero .title {
  font-size: var(--font-24);
  color: hsla(var(--green-theme-dark), var(--opacity-100));
  font-weight: var(--font-bold);
}

.hero .title-accent {
  display: block;
  color: hsla(var(--green-theme-accent), var(--opacity-100));
}

.hero .description {
  margin-top: var(--space-24);
  color: hsla(var(--green-theme-dark), var(--opacity-75));
}

.hero .cta {
  background-color: hsla(var(--green-theme-accent), var(--opacity-100));
  padding: var(--space-8) var(--space-24);
  border-radius: 4px;
  font-size: var(--font-14);
  font-weight: var(--font-bold);
  color: hsla(var(--white), var(--opacity-100));
  text-transform: uppercase;
  margin-top: var(--space-32);
  display: inline-block;
}
